{% extends 'magasin.html.twig' %}


{% block body %}
	<h1 class="text-center">Affichage des informations de la page accueil</h1>
    <br/><br/>
	<table class="table table-bordered table-striped table-responsive-stack">
		<thead>
			<tr style='text-align:center; background-color:#212529; color:white;'>
				<th>Actions</th>
				<th>Emplacement</th>
				<th>Titre</th>
				<th>Texte</th>
				<th>Logo</th>
			</tr>
		</thead>
		<tbody>
			{% for information_accueil in information_accueils %}
				<tr>
					<td>
						<a class='btn btn-warning' href="{{ path('information_accueil_edit', {'id': information_accueil.id}) }}">
							<i class='fas fa-pen'></i>
						</a>
						<br/>
						<a class='btn btn-primary mb-2' href='{{ path('information_accueil_show', {'id': information_accueil.id}) }}'>
							<i class='fas fa-eye'></i>
						</a>
					</td>

					<td>{{ information_accueil.emplacement }}</td>
					<td>{{ information_accueil.titre }}</td>
					<td>{{ information_accueil.texte }}</td>
					<td><i style="font-size:50px;" class="{{ information_accueil.logo }}"></i></td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucune informations sur la page d'accueil</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
