{% extends 'magasin.html.twig' %}


{% block body %}
<div class="text-center">
<h1>Information Accueil n°{{ information_accueil.emplacement }}</h1> 
    <a class="btn btn-secondary" href="{{ path('information_accueil_index') }}">Retour</a>
</div>
<br/>
    <table class="table table-bordered table-striped table-responsive-stack">
        <tbody>
            <tr>
                <th>Emplacement</th>
                <td>{{ information_accueil.emplacement }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ information_accueil.titre }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ information_accueil.texte }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td><i style="font-size:50px;" class="{{ information_accueil.logo }}"></i></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
