{% extends 'base.html.twig' %}

{% block body %}
	<section class="sous-header">
		<div class="cover"></div>
		<div class="sous-header-texte">
			<img src="{{ asset('images/logo.png') }}"/>
			<h1>Réparations téléphones, tablettes<br/>
				et vente d'accessoires</h1>
			<a href="/devis">Demander un devis</a>
		</div>
	</section>


	<div class="conteneur">
		<h1>Notre Boutique</h1>
		<hr class="hr-accueil">
		<div class="box-conteneur">
			{% for info in infos %}
				<div class="box">
					<i class="{{ info.logo }}"></i>
					<h1>{{ info.titre }}</h1>
					<h3>{{ info.texte }}</h3>
				</div>
			{% endfor %}
		</div>
	</div>


	<div class="conteneur">
		<h1>Photothèque</h1>
		<hr class="hr-accueil">
		<div class="phototheque-conteneur">


			{% for phototheque in phototheques %}
				<div class="phototheque">
					<div class="gallery">
						<a target="_blank" href="imagesPhototheques/{{ phototheque.image }}">
							<img src="imagesPhototheques/{{ phototheque.image }}">
						</a>
						<div class="desc">{{ phototheque.titre }}</div>
					</div>
				</div>


			{% endfor %}


		</div>
		<div class="clearfix"></div>
	</div>
{% endblock %}
