{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-produit-header">
	<h1>Nos téléphones</h1>
	<hr class="hr-boutique">
		<h3>Tout nos téléphones sont reconditionnées directement dans notre magasin, et sont proposer à un prix abordable pour notre clientèle !<h3>
		</div>
			<div class="container-produit">
				{% for produit in produits %}
					<div class="product">
						<img alt="&nbsp;Image indisponible" src="/imagesProduits/{{produit.image }}"/>
						<label class="price">
							{% if produit.ancienPrix is not empty %}
								<em>{{ produit.ancienPrix }}
									€
								</em>
								&nbsp;&nbsp;&nbsp;
							{% endif %}

							{{ produit.prix }}
							€
						</label>

						<div class="desciption">
							<h2 class="title">{{ produit.marque }} {{ produit.modele }}<br/>({{ produit.couleur }})</h2>
							<a class="lien-show" href="{{ path('produits_show', {'id': produit.id}) }}">
								<i class="fas fa-plus"></i>
								Voir plus</a>
						</div>
					</div>

				{% endfor %}
			</div>


		{% endblock %}
