{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-product">

		<div class="product-show">
			<div class="product-photo">
				<img src="/imagesProduits/{{produit.image }}"/>
			</div>
			<div class="product-detail">
				<h1 class="product__title">{{ produit.titre }}</h1>
				<div class="product__price">
					{% if produit.ancienPrix is not empty %}
						<em>{{ produit.ancienPrix }}&nbsp;€
						</em>
						&nbsp;&nbsp;&nbsp;
					{% endif %}

					{{ produit.prix }}&nbsp;€</div>

				<div class="product__subtitle">{{ produit.description }}</div>

			</div>
		</div>
	</div>
{% endblock %}
