{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produits</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ produit.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ produit.image }}</td>
            </tr>
            <tr>
                <th>AncienPrix</th>
                <td>{{ produit.ancienPrix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('produits_index') }}">back to list</a>

{% endblock %}
