{% extends 'base.html.twig' %}

{% block body %}
	<ol class="progress">
		<li class="is-complete" data-step="1">
			Client
		</li>
		<li class="is-complete" data-step="2">
			Téléphone
		</li>
		<li class="is-complete" data-step="3">
			Problème(s)
		</li>
		<li class="is-complete" data-step="4">
			Commentaire &<br/>Protection écran
		</li>
		<li class="is-active" data-step="5">
			Récapitulatif
		</li>
		<li data-step="6">
			Envoi
		</li>
	</ol>
	{{ form_start(form, {'attr': {'class': 'form-devis', 'action': '/devis_7'}}) }}
	<fieldset>
		<legend>
			<span class='number'>6</span>Récapitulatif de votre devis</legend>
		<br/><hr><br/>
		<legend>
			<i class='fas fa-chevron-right'></i>Informations clients</legend>
		<p class="recap-info-devis">Nom : {{ nom }}</p>
		<p class="recap-info-devis">Prénom : {{ prenom }}</p>
		<p class="recap-info-devis">Email : {{ email }}</p>
		<p class="recap-info-devis">Téléphone : {{ telephone }}</p>


		<legend>
			<i class='fas fa-chevron-right'></i>Informations téléphones</legend>
		<p class="recap-info-devis">Téléphone : {{ marque }} - {{ modele }}</p>

		<legend>
			<i class='fas fa-chevron-right'></i>Problèmes téléphone</legend>
		<p class="recap-info-devis">Problème : {{ probleme }}</p>


		<legend>
			<i class='fas fa-chevron-right'></i>Commentaire</legend>

		<p class="recap-info-devis-textarea">Commentaire : {{ commentaire }}</p>
		<legend>
			<i class='fas fa-chevron-right'></i>Protection écran</legend>
		<p class="recap-info-devis">Choix : {{ protection }}</p>

		<legend>
			<i class="fas fa-chevron-right"></i>Mentions légales</legend>


		<p class="mentions-legales">
			- J'accepte les
			<a href="/mentions_legales">mentions légales</a>
			du site<br/>
			- J'autorise que mes données enregistrés dans ce formulaire soit stockés dans une base de données uniquement dans le cadre du devis.
			<br/><br/>
			<b>Cochez cette case pour accepter :</b>
			<span class="span-mentions-legales">
				<input type="checkbox" id="mentions-legales" onclick="choix();" required="required" name="mentions-legales" value="Oui"/>
				<label for="mentions-legales"></label>
			</span>
		</p>
	</fieldset>
	{{ form_widget(form.Envoyez, { 'id': 'validation', 'disabled' : 'disabled'}) }}{{ form_end(form) }}<script>
		function choix() {
var validation = document.getElementById('validation');
var inputMentions = document.getElementById('mentions-legales');
if (inputMentions.checked == false) {
validation.disabled = true;
}
if (inputMentions.checked == true) {
validation.disabled = false;
}

}
	</script>
{% endblock %}
