{% extends 'magasin.html.twig' %}


{% block body %}
	<h1 class="text-center">Affichage des modèles</h1>
    <a class="btn btn-success" href="{{ path('modele_new') }}">Ajouter un modèle</a>
    <br/><br/>
	<table class="table table-bordered table-striped table-responsive-stack">
		<thead>
			<tr style='text-align:center; background-color:#212529; color:white;'>
				<th>Actions</th>
				<th>Modele</th>
				<th>Marque</th>
			</tr>
		</thead>
		<tbody>
			{% for modele in modeles %}
				<tr>
					<td>
						<a class='btn btn-warning' href="{{ path('modele_edit', {'id': modele.id}) }}">
							<i class='fas fa-pen'></i>
						</a>
						{{ include('modele/_delete_form.html.twig') }}
					</td>
					<td>{{ modele.NomModele }}</td>
					<td>{{ modele.Marque }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">Aucune marque disponible</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}
