{% extends 'magasin.html.twig' %}


{% block body %}
	<h1 class="text-center">Affichage des devis</h1>
	<table class="table table-bordered table-striped table-responsive-stack">
		<thead>
			<tr style='text-align:center; background-color:#212529; color:white;'>
                <th>Actions</th>
				<th>ID</th>
				<th class='status-th'>Status</th>
				<th>Date</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Email</th>
				<th>Telephone</th>
				<th>Marque</th>
				<th>Modele</th>
				<th>Probleme</th>
				<th>Commentaire</th>
				<th>Protection</th>
			</tr>
		</thead>
		<tbody>
			{% for devi in devis %}
				<tr>
					<td>
						<a class='btn btn-primary mb-2' href='{{ path('devis_admin_show', {'id': devi.id}) }}'>
							<i class='fas fa-eye'></i>
						</a>
						<br/>
						<a class='btn btn-success mb-2' href='{{ path('devis_admin_repondre_devis', {'id': devi.id}) }}'>
							<i class='fas fa-paper-plane'></i>
						</a>
						{% if devi.status == "Mail-envoyé" %}
						<a class='btn btn-secondary mb-2'target="_blank" href="/devis-reponse/Devis-{{devi.id}}-{{devi.nom}}-{{devi.prenom}}.pdf"><i class="far fa-file-pdf"></i></a>
						{% endif %}
						<br/>
						{{ include('devis_admin/_delete_form.html.twig') }}
					</td>
					<td>{{ devi.id }}</td>
					<td>{{ devi.status }} 
					{% if devi.status != "Mail-envoyé" %}
    									<a class='status-bouton btn mb-1' 
					href='{{ path('devis_admin_changestatus', {'id': devi.id}) }}'>
					<i class='fas fa-sync-alt'></i> 
					</a>
					{% endif %}

					</td>
					<td>{{ devi.date ? devi.date|date('d/m/Y') : '' }}</td>
					<td>{{ devi.nom }}</td>
					<td>{{ devi.prenom }}</td>
					<td>{{ devi.email }}</td>
					<td>{{ devi.telephone }}</td>
					<td>{{ devi.marque }}</td>
					<td>{{ devi.modele }}</td>
					<td>{{ devi.probleme }}</td>
					<td>{{ devi.commentaire }}</td>
					<td>{{ devi.protection }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="15">Aucun devis disponible</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
