{% extends 'magasin.html.twig' %}


{% block body %}
	<h1 class="text-center">Répondre au devis :</h1>
	<div style="width:100% !important;" class="container">
		<div class="row">
			<div class="col-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Date</h5>
						<h5 class="card-text">
							{{ devi.date ? devi.date|date('Y-m-d') : '' }}</h5>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Nom</h5>
						<h5 class="card-text">{{ devi.Nom}}</h5>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Prénom</h5>
						<h5 class="card-text">{{ devi.prenom}}</h5>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Email</h5>
						<h5 class="card-text">{{ devi.email}}</h5>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Téléphone</h5>
						<h5 class="card-text">{{ devi.telephone}}</h5>
					</div>
				</div>
			</div>
            <div class="col-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Marque</h5>
						<h5 class="card-text">{{ devi.marque}}</h5>
					</div>
				</div>
			</div>
            <div class="col-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Modele</h5>
						<h5 class="card-text">{{ devi.modele}}</h5>
					</div>
				</div>
			</div>
            <div class="col-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Probleme </h5>
						<h5 class="card-text">{{ devi.probleme}}</h5>
					</div>
				</div>
			</div>
            <div class="col-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Commentaire</h5>
						<h5 class="card-text">{{ devi.commentaire}}</h5>
					</div>
				</div>
			</div>
            <div class="col-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Protection écran</h5>
						<h5 class="card-text">{{ devi.protection}}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
    <br/><br/>
    <div class="text-center">
	{{form_start(form)}}
	<h3>-------------- Obligatoire --------------</h3>
    <p>Prestation 1</p>{{form_widget(form.Prestation1)}}
	<p>Quantité 1</p>{{form_widget(form.Quantite1)}} 
	<p>Prix 1 (HT)</p>{{form_widget(form.Prix1)}} €
	<br/>
	<h3>-------------- Facultatif --------------</h3>
	<p>Prestation 2</p>{{form_widget(form.Prestation2)}}
	<p>Quantité 2</p>{{form_widget(form.Quantite2)}}
	<p>Prix 2 (HT)</p>{{form_widget(form.Prix2)}} €
	<br/>
	<h3>-------------- Facultatif --------------</h3>
	<p>Prestation 3</p>{{form_widget(form.Prestation3)}}
	<p>Quantité 3</p>{{form_widget(form.Quantite3)}}
	<p>Prix 3 (HT)</p>{{form_widget(form.Prix3)}} €


	{{ form_row(form._token) }}
	<br/><br/>
	{{form_end(form)}}
	<br/><br/>
</div>
{% endblock %}
