{% extends 'magasin.html.twig' %}


{% block body %}

<div class="text-center">
<h1>Devis n°{{ devi.id }}</h1> 
<div class="btn-group" role="group">
    <a class="btn btn-secondary btn-space" href="{{ path('devis_admin_index') }}">Retour</a>
    {{ include('devis_admin/_delete_form.html.twig') }}
</div>
</div>
<br/>
    <table class="table table-bordered table-striped table-responsive-stack">
        <tbody>
            <tr>
                <th>Status</th>
                <td>{{ devi.status }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ devi.date ? devi.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ devi.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ devi.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ devi.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ devi.telephone }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ devi.marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ devi.modele }}</td>
            </tr>
            <tr>
                <th>Probleme</th>
                <td>{{ devi.probleme }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ devi.commentaire }}</td>
            </tr>
            <tr>
                <th>Protection</th>
                <td>{{ devi.protection }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
