<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}La Maison du Smartphone{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <script src="https://kit.fontawesome.com/36d8ba31b1.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/hamburger.js') }}"></script>
    <link rel="shortcut icon" href="{{ asset('images/logo.png') }}" type="image/x-icon"/>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <div class="conteneur_header">
        <header>
            <div class="navigation">
                <a href="/"><img class="navigation_logo" src="{{ asset('images/banniere.jpg') }}" /></a>
                <a href="/">
                    <h1 class="navigation_logo_phone">La Maison Du Smartphone</h1>
                </a>
                <span>
                    <nav id="nav_id" class="nav_class">
                        <a class="navigation_lien" href="/">Accueil</a>
                        <a class="navigation_lien" href="/devis">Devis</a>
                        <a class="navigation_lien" href="/produits">Produits</a>
                        <a class="navigation_lien" href="/contact">Contact</a>
                        <a href="javascript:void(0);" class="icon" onclick="OpenWhenClick()"><i id="logo_change"
                                class="fa fa-bars"></i></a>
                    </nav>
                </span>
            </div>
        </header>
    </div>
    {% block body %}{% endblock %}
    <footer>
        <a target="_blank" href="https://www.facebook.com/profile.php?id=100063113477381"><i id="social-fb"
                class="fa fa-facebook-square fa-3x social"></i></a>
        <a target="_blank" href="https://www.instagram.com/la_maison_du_smartphone/"><i id="social-ig"
                class="fab fa-instagram-square fa-3x social"></i></a>
        <div class="footer-texte">
            <p class="footer-links">
                <a class="link-1" href="/">Accueil</a>
                <a href="/devis">Devis</a>
                <a href="/produits">Produits</a>
                <a href="/contact">Contact</a>
                <br />
                <a class="link-1" href="/mentions_legales">Mentions légales</a>
            </p>
            <p id="logo-footer">La Maison Du Smartphone &copy;
                <script type='text/javascript'>var y = new Date(); document.write(y.getFullYear());</script>
            </p>
        </div>
    </footer>
</body>

</html>
