{% extends 'magasin.html.twig' %}

{% block body %}
	<div class="text-center">
		<h1>Produit n°{{ produit.id }}</h1>
		<div class="btn-group" role="group">
			<a class="btn btn-secondary btn-space" href="{{ path('produits_admin_index') }}">Retour</a>
			{{ include('produits_admin/_delete_form.html.twig') }}
		</div>
	</div>
	<br/>
	<table class="table table-bordered table-striped table-responsive-stack">
		<tbody>
			<tr>
				<th>Marque</th>
				<td>{{ produit.marque }}</td>
			</tr>
			<tr>
				<th>Modele</th>
				<td>{{ produit.modele }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ produit.description }}</td>
			</tr>
			<tr>
				<th>AncienPrix</th>
				<td>{{ produit.ancienPrix }}
					€</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ produit.prix }}
					€</td>
			</tr>
			<tr>
				<th>Stockage</th>
				<td>{{ produit.stockage }}
					Go</td>
			</tr>
			<tr>
				<th>Ecran</th>
				<td>{{ produit.ecran }}
					pouces</td>
			</tr>
			<tr>
				<th>Couleur</th>
				<td>{{ produit.couleur }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td>{{ produit.image }}</td>
			</tr>

		</tbody>
	</table>
{% endblock %}
