{% extends 'magasin.html.twig' %}


{% block body %}
    <h1>Probleme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ probleme.id }}</td>
            </tr>
            <tr>
                <th>NomProbleme</th>
                <td>{{ probleme.NomProbleme }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('probleme_index') }}">back to list</a>

    <a href="{{ path('probleme_edit', {'id': probleme.id}) }}">edit</a>

    {{ include('probleme/_delete_form.html.twig') }}
{% endblock %}
